@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  background-color: #1a202c;
  color: #f7fafc;
}

.dark .bg-white {
  background-color: #2d3748;
}

.dark .text-gray-800 {
  color: #ffffff;
}

